.env
.env.*
!.env.example
*.log
backups/

**/node_modules/
**/dist/
**/.vite/

**/__pycache__/
**/*.pyc
**/.venv/
**/staticfiles/
**/media/
*.sqlite3
*.sqlite3-*

infra/nginx/certs/*.crt
infra/nginx/certs/*.key
infra/nginx/certs/*.pem

.DS_Store
.idea/
